<html lang ="en">
<head>
  <title>News Aggregator</title>
  <link rel="stylesheet" href="/stylesheets.app.css">
</head>

<body>
  <%= yield %>
  <script src="/javascripts/app.js"></script>
</body>
</html>
